<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>A Visionner plus tard</title>
</head>
<body>
    <div>Le film <strong>@ViewData["Titre"]</strong> est sur la liste des films à visionner.</div>
</body>
</html>