<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accueil</title>
</head>
<body>
    <div><strong>Bienvenue sur la page d'accueil</strong></div>
    <div>Accéder à mon historique de visionnage 2021</div>
    <div><a href="http://localhost:5000/Home/ListeFilms">GO !</a></div>
</body>
</html>