<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visionne</title>
</head>
<body>
    <div>Le film <strong>@ViewData["Titre"]</strong> a bien été visionné.</div>
    <div>Il a été réalisé par <strong>@ViewData["Realisateur"]</strong> en <strong>@ViewData["Année"].</strong> </div>
</body>
</html>
